<!-- Snow effect credits: alphardex on CodePen https://codepen.io/alphardex/pen/dyPorwJ -->
<div *ngFor="let snow of snowFlakes" class="snow"></div>
<div class="h-full grid grid-cols-5 grid-rows-5 gap-8 p-8">
  <div
    *ngFor="let day of daysCount; let i = index"
    class="
      flex flex-col
      justify-center
      items-center
      border-4 border-red-900
      bg-red-800
      rounded-lg
      shadow-xl
    "
    [ngClass]="{
      'opacity-50': day.disabled,
      'cursor-not-allowed': day.disabled,
      'cursor-pointer': !day.disabled,
      'hover:bg-red-900': !day.disabled
    }"
    [routerLink]="day.disabled ? null : ['/day/' + day.dayNmbr]"
  >
    <h2 class="text-green-700 font-bold text-sm italic py-2">
      {{ day.dayNmbr }} december 2021
    </h2>
    <p class="font-pacifico font-bold text-green-700 text-4xl py-2">
      Day {{ day.dayNmbr }}
    </p>
  </div>
</div>
